nav{
    background-color: blue;
    color: white;
    font-size: 25px;
    display: flex;
    /* Propiedad que maneja el eje principal y solo se puede utilizar si es flex*/
    justify-content:space-between ;
    /* Propiedad que maneja el eje secuandario y solo se puede utilizar si es flex*/
    align-items: center;
    height: 300px;
}

nav div{
    display: flex;
}